html,
body {
  font-family: poppins, serif;
  color: black;
  background-color: #83a6ba;
}

.navbar {
  background-color: #3390ad;
}

.logo,
h1 {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.subtitles-h2{
    color: #3390ad;
    font-size: 25px;
    font-weight: 600;
}

.logo-gold {
  color: #fff3b7;
}

.navbar-burger {
  color: white;
}

.button-nav {
  background-color: #ffffff00;
  border-width: 0px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 20px;
}

.button-nav:hover {
  color: #fff3b7;
}



  

form {
  background-color: rgba(255, 255, 255, 0);
  margin: 2rem;
  border-radius: 1rem;
}


.summary{
    background-color:white;
    border-radius: 5px;
}

div{
    padding:10px;
}




/* .display{
  display: none
} */

.form-popup {
  display: block;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}




