html,
body {
  font-family: poppins, serif;
  color: black;
  background-color: #83a6ba;
}

.navbar {
  background-color: #3390ad;
}

.logo,
h1 {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.subtitles-h2{
    color: #3390ad;
    font-size: 25px;
    font-weight: 600;
}

.logo-gold {
  color: #fff3b7;
}

.navbar-burger {
  color: white;
}

.button-nav {
  background-color: #ffffff00;
  border-width: 0px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 20px;
}

.button-nav:hover {
  color: #fff3b7;
}


  

form {
  margin: 2rem;
  border-radius: 1rem;
}


.summary{
    background-color:white;
    border-radius: 5px;
}

div{
    padding:10px;
}